body {
    height: 800vh;
    background: linear-gradient(
        to bottom,
        rgb(51, 124, 110) 0%,
        rgb(51, 124, 110) 5%,
        rgb(198, 190, 190) 5%,
        rgb(198, 190, 190) 15%,
        rgb(178, 229, 248) 15%,
        rgb(178, 229, 248) 29%,
        rgb(239, 177, 245) 29%,
        rgb(239, 177, 245) 44%,
        rgb(240, 240, 153) 44%
    );
}
img{
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
}
.PageSuivante{
    position:absolute;
    left: 90%;
    top:35%;
    color:rgb(51, 124, 110);
}
.PagePrécédente{
    position:absolute;
    top:35%;
    color:rgb(51, 124, 110);
}
.lundi{
    height: 65px;
}
.mardi{
    margin-top: -1%;
    margin-left: -2%;
    height: 65px;
}
.mercredi{
    margin-top: -1%;
    margin-left: -2%;
    height: 65px;
}
.jeudi{
    margin-top: -1%;
    margin-left: -2%;
    height: 65px;
}
.vendredi{
    margin-top: -1%;
    margin-left: -2%;
    height: 65px;
}
.github{
    height: 120px;
    position: absolute;
    top: 500%;
    left:45%;
}
.Jlundi{
    margin-top: 5%;
}
.bulle{
    margin-top: -10%;
    height:600px;
    width: 900px
}
.bulle2{
    height:630px;
    width:1100px;
}
.texteLundi{
    font-size: 170%;
    position: absolute;
    top : 153%;
    left : 24%;
}
.texteMardi{
    font-size: 150%;
    position: absolute;
    top: 270%;
    left: 14%;
}
.bLundi{
    margin-left: 35%;
    margin-top:2%;
    background: transparent;
    border: 0.125rem solid transparent;
    border-radius: 0.5rem;
    height:63px;
    width:380px;
}
.bMardi{
    margin-left: 35%;
    margin-top: 2%;
    background: transparent;
    border: 0.125rem solid transparent;
    border-radius: 0.5rem;
    height:63px;
    width:380px;
}
.bMercredi{
    margin-left: 35%;
    margin-top: 2%;
    background: transparent;
    border: 0.125rem solid transparent;
    border-radius: 0.5rem;
    height:63px;
    width:380px;
}.bJeudi{
    margin-left: 35%;
    margin-top: 2%;
    background: transparent;
    border: 0.125rem solid transparent;
    border-radius: 0.5rem;
    height:63px;
    width:380px;
}.bVendredi{
    margin-left: 35%;
    margin-top: 2%;
    background: transparent;
    border: 0.125rem solid transparent;
    border-radius: 0.5rem;
    height:63px;
    width:380px;
}